.result-gene {
    padding: 0.2em;
}
.result-gene:hover {
    background-color: antiquewhite;
}
.gene-title {
    padding-top:0.5em;
}
.gene-id {
    white-space: nowrap;
}
.gene-name {
    color: #557B74;
}
.gene-description {
    margin-bottom: 0;
}
.gene-species {
    white-space: nowrap;
    font-style: italic;
    padding-left: 1em;
}
.gene-synonyms {
    white-space: nowrap;
    font-size: small;
}
.gene-detail-tabs {
    display: flex;
    flex-wrap: wrap;
    /*margin-right: -15px;*/
    /*margin-left: -15px;*/
    /*margin-top: 1em;*/
}
.gene-detail-tab-closed {
    color: darkgreen;
    font-size: larger;
    cursor: pointer;
    background-color: lightgray;
}
.gene-detail-tab-disabled {
    color: white;
    background-color: lightgray;
    cursor: not-allowed;
}
.gene-detail-tab-expanded {
    color: white;
    background-color: #557B74;
    font-size: larger;
    cursor: pointer;
}