.gene-title {
    padding-top:0.5em;
}
.gene-id {
    white-space: nowrap;
}
.gene-name {
    color: #557B74;
}
.gene-description {
    margin-bottom: 0;
}
.gene-species {
    white-space: nowrap;
    font-style: italic;
    padding-left: 1em;
}
.gene-synonyms {
    white-space: nowrap;
    font-size: small;
}
